body {
    padding-top: 120px;
    font-family: 'Istok Web', sans-serif;
}

.logo-box img{
    height: 45px;
    width: auto;
}

.bg-pink{
    background-color: #ffffff;
}

.navbar-nav .nav-link{
    font-family: 'Istok Web', sans-serif;
    font-size: 18px;
    color: #000;
    padding: 30px;
}

.footer {
    background-color: #FBD8D5;
}

.footer-contacto {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.logo-box img {
    width: 187px;
    height: 66px;
    object-fit: contain;
}

.footer-contacto {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-decoration: underline;
}

.img-marco {
    display: inline-block;
    border: 10px solid #FADBD8;
}

.img-marco img{
    width: 100%;
    max-width: 450px;
    height: auto;
}

.img-torta {
    width: 580px;
    height: 580px;
    object-fit: cover;
}

.container h2, h5 {
    font-weight: bold;
}

.selector-tamaño {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.selector-tamaño summary {
    background-color: #F1948A;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav-link.active{
    border-bottom: 2px solid #F1948A;
}

.selector-tamaño[open] summary {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.opcion {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
}

.opcion:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text-start p{
    width: 100%;
}
